version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: app
    # environment:
    #   - WEB3SIGNER_ETHEREUM_URL=http://signer-ethereum:9000
    #   - WEB3SIGNER_GNOSIS_URL=http://signer-gnosis:9001
    env_file:
      - .env  # Specify the path to your .env file
    ports:
      - "3000:3000"

  anvil_ethereum:
    image: ghcr.io/foundry-rs/foundry:latest
    container_name: anvil_ethereum
    env_file:
      - .env  # Specify the path to your .env file
    entrypoint: /bin/sh -c "anvil --accounts 15 -f $ETHEREUM_RPC_ENDPOINT --port 8546 --host 0.0.0.0"
    ports:
      - "8546:8546"


  anvil_gnosis:
    image: ghcr.io/foundry-rs/foundry:latest
    container_name: anvil_gnosis
    env_file:
      - .env  # Specify the path to your .env file
    entrypoint: /bin/sh -c "anvil --accounts 15 -f $GNOSIS_RPC_ENDPOINT --port 8547 --host 0.0.0.0"
    ports:
      - "8547:8547"

  # web3signer_ethereum:
  #   image: consensys/web3signer:develop
  #   container_name: signer-ethereum
  #   ports:
  #     - '9000:9000'
  #   volumes:
  #     - ./key.yaml:/home/node/signer/keyFiles/key.yaml
  #     - ./config.yaml:/home/node/signer/config.yaml
  #   command:
  #     - '--config-file=/home/node/signer/config.yaml'
  #     - '--logging=DEBUG'
  #     - 'eth1'
  #     - '--chain-id=1'
  #
  # web3signer_gnosis:
  #   image: consensys/web3signer:develop
  #   container_name: signer-gnosis
  #   ports:
  #     - '9001:9001'
  #   volumes:
  #     - ./key.yaml:/home/node/signer/keyFiles/key.yaml
  #     - ./config.yaml:/home/node/signer/config.yaml
  #   command:
  #     - '--config-file=/home/node/signer/config.yaml'
  #     - '--logging=DEBUG'
  #     - '--http-listen-port=9001'
  #     - 'eth1'
  #     - '--chain-id=100'
